#body {
    height: 500px;
    width: 500px;
}

/*d3js*/

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
    cursor: pointer;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}