.node circle {
  stroke: steelblue;
  stroke-width: 1px;
  cursor:pointer;
}

.node {
  font: 12px sans-serif;
  display:block;
}

.hidenode {
  font: 12px sans-serif;
  display:none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}